# Ignore the build artefacts which are produced by webpack
content/markdown-utils.js

wiki
gen
build
*~
*.swp
*.debug
*.cache
*.status
*.js.map
*.tmp
*.xpi
node_modules
.env

Makefile.in

# Deal with yarn's habit of throwing files into your root directory
yarn-error.log
